body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E4E4EC;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: center; /* Pusatkan logo */
  }
  
  .logo img {
    max-width: 60%; /* Agar logo tidak melebihi lebar parent element */
    height: auto; /* Biarkan tinggi mengikuti proporsi asli untuk mencegah distorsi */
    display: block; /* Hilangkan space tambahan di bagian bawah gambar */
    margin: 0 auto; /* Pusatkan gambar secara horizontal */
  }
  

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* Hover effect */
nav ul li a {
    position: relative;
    text-decoration: none;
    color: #000; 
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
    background-color: #fff;
}

/* konten */


